html {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  height: 80%;
  flex-direction: column;
}

h1 {
  color: orange;
  display: flex;
  justify-content: center;
}

.repository-section,
.events-section,
.hooks-section {
  width: 100%;
  border: solid 1px orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos-title,
.events-title,
.hooks-title {
}

.repos-id-div,
.events-id-div,
.hooks-id-div {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-repo,
.single-event,
.single-hook {
  margin: 0 2%;
}
