html {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  height: 80%;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}

.repository-section,
.events-section,
.hooks-section,
.issues-section,
.members-section,
.public-members-section {
  width: 100%;
  border: solid 1px orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos-id-div,
.events-id-div,
.hooks-id-div,
.issues-id-div,
.members-id-div,
.public-members-id-div {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-repo,
.single-event,
.single-hook,
.single-issue,
.single-member,
.single-public-members {
  margin: 0 2%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

.button-section {
  display: flex;
  justify-content: center;
  width: 17%;
}

.load-data-btn {
  cursor:pointer;
}

.verify-dates-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.verify-dates-btn {
  align-self: center;
  cursor: pointer;
  width: 50%;
}

.verify-result-div {
  align-self: center;
  width: 58%;
}

.compare-length-btn {
  cursor:pointer;
}

.compare-length-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}